* {
    box-sizing: border-box;
    margin: 0;
    transition: all ease 0.3s;
    font-family: 'Poppins', sans-serif;
}
.body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.wrap {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    text-align: center;

}
.single-goods {
    background:  rgba(198, 255, 246, 0.2);
    width: 210px;
    height: 320px;
    border-radius: 10px;
    border: solid 1px black;
    float: left;
    text-align: center;
    margin: 10px;
}
.single-goods img {
    width: 150px;
    height: 150px;
    margin: 10px;
}
.single-goods .desc{
    height: 30px;
    vertical-align: middle;
}
.single-goods button {
    display: block;
    margin: 20px auto;
    background: rgb(139, 248, 225);
    border-style: none;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}
.single-goods button:hover {
    display: block;
    margin: 20px auto;
    background: rgb(69, 235, 199);
    width: 105px;
    height: 30px;
    border-radius: 5px;
}
.single-goods:hover {
    transform: translateY(10px);
}
